<div @fadeInPageTitle class="">
    <div class="welcome-messsage ">
        <h1>GALLERY</h1>
        <p class="page-title-description">OUR RECENT PROJECTS.</p>

        <div class="social-buttons-aligner">
            <app-share-this-buttons></app-share-this-buttons>
        </div>
    </div>

</div>


<div class="row page-content">

    <div class="col-md-9">

        <div class="page-content-container">
            <div class="info-container bg-light">
                <div class="service-info-content">
                    We are excited to share some of success stories and milestone that we have achieved lately. Below are some of the recent projects that we have sucessfully worked on.
                   
                </div>
            </div>
            <app-ngx-lightbox></app-ngx-lightbox> 
        </div>
    </div>
    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

</div>