<div  @fadeInPageTitle class="">
    <div class="welcome-messsage ">
        <h1>OUR SERVICES</h1>
        <p class="page-title-description">WE OFFER EHS AND ENGINEERING SERVICES.</p>
        
        <div class="social-buttons-aligner">
            <app-share-this-buttons></app-share-this-buttons>
        </div>
    </div>

</div>


<div class="row page-content">

    <div class="col-md-9">

        <div class="page-content-container">

            <div class="service-info-container bg-light">
                <div class="service-info-content">
                    We are EHS & Engineering company that operates internationally. We currently have our branches located in <b>South Africa</b> and <b>Mozambique</b>. <br />
                </div>
            </div>

            <div class="accordion outer-accordion accordion-flush" id="accordionExample">
            
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <fa-icon class="concept-icon" [icon]="['fas', 'location-dot']"></fa-icon>&nbsp;
                            SOUTH AFRICA - BRANCH
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body outer-body">
                            
                            <div class="accordion inner-accordion" id="accordionFirstInnerPanel">                            
 
                                <div class="accordion-item ">
                                    <h2 class="accordion-header inner-header" id="firstInnerPanel-headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#firstInnerPanel-collapseOne" aria-expanded="false"
                                            aria-controls="firstInnerPanel-collapseOne">
                                            <fa-icon class="concept-icon" [icon]="['fas', 'circle']"></fa-icon>&nbsp;
                                            Environmental Health and Safety (EHS)
                                        </button>
                                    </h2>
                                    <div id="firstInnerPanel-collapseOne" class="accordion-collapse collapse" aria-labelledby="firstInnerPanel-headingOne" data-bs-parent="#accordionFirstInnerPanel">
                                        <div class="accordion-body inner-content">
                                        <ul>
                                            <li>
                                                Assit with compliance to the Occupational Health and Safety (OHS).
                                            <li>
                                                Assist in gap analysis at the offices, other plants and business units for the organization.
                                            </li>
                                            <li>
                                                Setting up an OHS systems.
                                            </li>
                                            <li>
                                                Assistance with the line items for the EHS budget for the organization.
                                            </li>
                                        </ul>
                                        <b>For more information, please speak to one of our consultants.</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header inner-header" id="firstInnerPanel-headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#firstInnerPanel-collapseTwo" aria-expanded="false"
                                            aria-controls="firstInnerPanel-collapseTwo">
                                            <fa-icon class="concept-icon" [icon]="['fas', 'circle']"></fa-icon>&nbsp;
                                            Construction Health and Safety (CHS)
                                        </button>
                                    </h2>
                                    <div id="firstInnerPanel-collapseTwo" class="accordion-collapse collapse" aria-labelledby="firstInnerPanel-headingTwo"  data-bs-parent="#accordionFirstInnerPanel">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    Compilation of OHS files.
                                                <li>
                                                    Assist with the OHS portion for the tenders.
                                                </li>
                                                <li>
                                                    Contractor audits.
                                                </li>
                                                <li>
                                                    Compile Baseline Risk Assessment.
                                                </li>
                                            </ul>
                                            <b>For more information, please speak to one of our consultants.</b>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="firstInnerPanel-headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#firstInnerPanel-collapseThree" aria-expanded="false"
                                            aria-controls="firstInnerPanel-collapseThree">
                                            <fa-icon class="concept-icon" [icon]="['fas', 'circle']"></fa-icon>&nbsp;
                                            Food Safety Services
                                        </button>
                                    </h2>
                                    <div id="firstInnerPanel-collapseThree" class="accordion-collapse collapse" aria-labelledby="firstInnerPanel-headingThree"
                                        data-bs-parent="#accordionFirstInnerPanel">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    Food Safety audits..
                                                <li>
                                                    Inhouse Food Safety Training..
                                                </li>
                                                <li>
                                                    Compiling of Food Safety Procedures.
                                                </li>
                                                <li>
                                                    Food Safety Systems Implementation (HACCP and ISO 22000).
                                                </li>
                                            </ul>
                                            <b>For more information, please speak to one of our consultants.</b>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="firstInnerPanel-headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#firstInnerPanel-collapseFour" aria-expanded="false"
                                            aria-controls="firstInnerPanel-collapseFour">
                                            <fa-icon class="concept-icon" [icon]="['fas', 'circle']"></fa-icon>&nbsp;
                                            EHS Training Services
                                        </button>
                                    </h2>
                                    <div id="firstInnerPanel-collapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="firstInnerPanel-headingFour" data-bs-parent="#accordionFirstInnerPanel">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    Hazard Identification Risk Assessment.
                                                <li>
                                                    Legal Liability.
                                                </li>
                                                <li>
                                                    SHE rep training.
                                                </li>
                                                <li>
                                                    Emergency preparedness.
                                                </li>
                                            </ul>
                                            <b>For more information, please speak to one of our consultants.</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
            
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <fa-icon class="concept-icon" [icon]="['fas', 'location-dot']"></fa-icon>&nbsp;
                            MOZAMBIQUE - BRANCH
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body outer-body">
                            <div class="accordion inner-accordion" id="accordionSecondInnerPanel">
                            
                                <div class="accordion-item ">
                                    <h2 class="accordion-header inner-header" id="secondtInnerPanel-headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#secondtInnerPanel-collapseOne" aria-expanded="false"
                                            aria-controls="secondtInnerPanel-collapseOne">
                                            <fa-icon class="concept-icon" [icon]="['fas', 'circle']"></fa-icon>&nbsp;
                                            Environmental Health and Safety (EHS)
                                        </button>
                                    </h2>
                                    <div id="secondtInnerPanel-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="secondtInnerPanel-headingOne" data-bs-parent="#accordionSecondInnerPanel">
                                        <div class="accordion-body inner-content">
                                            <ul>
                                                <li>
                                                    Assit with compliance to the Occupational Health and Safety (OHS).
                                                <li>
                                                    Assist in gap analysis at the offices, other plants and business units for the organization.
                                                </li>
                                                <li>
                                                    Setting up an OHS systems.
                                                </li>
                                                <li>
                                                    Assistance with the line items for the EHS budget for the organization.
                                                </li>
                                            </ul>
                                            <b>For more information, please speak to one of our consultants.</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header inner-header" id="secondtInnerPanel-headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#secondtInnerPanel-collapseTwo" aria-expanded="false"
                                            aria-controls="secondtInnerPanel-collapseTwo">
                                            <fa-icon class="concept-icon" [icon]="['fas', 'circle']"></fa-icon>&nbsp;
                                            Engineering (Electrical & Electronics)
                                        </button>
                                    </h2>
                                    <div id="secondtInnerPanel-collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="secondtInnerPanel-headingTwo" data-bs-parent="#accordionSecondInnerPanel">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    Electrical installations in buildings, factories and industries..
                                                <li>
                                                    Installations and maintenance of solar systems, generators, and UPS.
                                                </li>
                                                <li>
                                                    Electrical gate motor and garage doors installations
                                                </li>
                                                <li>
                                                    Installations and maintenance of Biometric system and Surveillance camera.
                                                </li>
                                            </ul>
                                            <b>For more information, please speak to one of our consultants.</b>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="secondtInnerPanel-headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#secondtInnerPanel-collapseThree" aria-expanded="false"
                                            aria-controls="secondtInnerPanel-collapseThree">
                                            <fa-icon class="concept-icon" [icon]="['fas', 'circle']"></fa-icon>&nbsp;
                                            Telecommunications
                                        </button>
                                    </h2>
                                    <div id="secondtInnerPanel-collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="secondtInnerPanel-headingThree" data-bs-parent="#accordionSecondInnerPanel">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    BTS installations and systems configurations.
                                                <li>
                                                    Fibre systems installations.
                                                </li>
                                                
                                            </ul>
                                            <b>For more information, please speak to one of our consultants.</b>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="secondtInnerPanel-headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#secondtInnerPanel-collapseFour" aria-expanded="false"
                                            aria-controls="secondtInnerPanel-collapseFour">
                                            <fa-icon class="concept-icon" [icon]="['fas', 'circle']"></fa-icon>&nbsp;
                                            Fire Services and Trainings
                                        </button>
                                    </h2>
                                    <div id="secondtInnerPanel-collapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="secondtInnerPanel-headingFour" data-bs-parent="#accordionSecondInnerPanel">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                             
                                                    Configuration systems.
                                                    
                                                <li>
                                                    Fire fighter services.
                                                    
                                                </li>
                                                <li>
                                                    Fire extinguisher sales and servicing.
                                                    
                                                </li>
                                                <li>
                                                    Supply of fire engines.
                                                    
                                                </li>
                                                <li>
                                                Provision of fire fighter personnel.
                                                </li>
                                                <li>Install and maintain hose reels and sprinkler systems.</li>
                                            </ul>
                                            <b>For more information, please speak to one of our consultants.</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            
            </div>

            
        </div>
    </div>
    
    <div class="col-md-3 d-none d-md-block">
        <app-sidebar></app-sidebar>
    </div>

</div>

