
<div class="sidebar-heading">
    CONTACT DETAILS
</div>
<div class="side-bar">

<h5 class="sidebar-heading-subheading">SOUTH AFRICA</h5>
<div class="sidebar-projects-list list-group">
    <span class="list-group-item list-group-item-action">
        <fa-icon class="concept-icon " [icon]="['fas', 'phone']"> </fa-icon> (+27)82 638-4923
    </span>
    <span class="list-group-item list-group-item-action">
        <fa-icon class="concept-icon" [icon]="['fas', 'envelope']"> </fa-icon> martin@mabundagroup.com
    </span>
</div>

<h5 class="sidebar-heading-subheading">MOZAMBIQUE</h5>
<div class="sidebar-projects-list list-group">
    <span class="list-group-item list-group-item-action">
        <fa-icon class="concept-icon " [icon]="['fas', 'phone']"> </fa-icon> (+258)84 065-7493
    </span>
    <span class="list-group-item list-group-item-action">
        <fa-icon class="concept-icon" [icon]="['fas', 'envelope']"> </fa-icon> yaner@mabundagroup.com
    </span>
</div>

<h5 class="sidebar-heading-subheading">BUSINESS HOURS</h5>
<div class="sidebar-projects-list list-group">
    <!-- <a class="list-group-item list-group-item-action" routerLink="/projects">
        <fa-icon class="concept-icon" [icon]="['fas', 'globe']"></fa-icon> 
        Mabunda Group
    </a> -->
    <span class="list-group-item list-group-item-action" routerLink="/projects">
        <fa-icon class="concept-icon" [icon]="['fas', 'clock']"></fa-icon> 
        08:00am - 16:30pm (week-days)
    </span>
  
</div>
</div>







