<footer class="bg-dark">
    <div class="row footer-items-container">

        <div class="col-md-3 footer-item d-none d-md-block">
        
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'gift']"></fa-icon>&nbsp;
                    OUR SERVICES
            </div>
            <div class="footer-item-list">             
                    EHS Services<br />  
                    Food Safety Services<br />
                    Electrical Services<br />                                
                    Fire Services<br />  
            </div>
        </div>
        
            <div class="col-md-3 footer-item ">
                <div class="footer-item-header">
                    <fa-icon class="concept-icon" [icon]="['fas', 'bars']"></fa-icon>&nbsp; MISCs
                </div>
                <div class="footer-item-list footer-quick-links">
                    <span>
                        <a class="" routerLink="/faq">FAQs </a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/"> Our clients</a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/gallery"> Projects gellery</a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/contact"> Careers</a><br />
                    </span>
                </div>
            </div>
          
        <div class="col-md-3 footer-item">
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'location-dot']"></fa-icon>&nbsp; PHYSICAL ADDRESS
            </div>
            <div class="footer-item-list">
                <span>6876 Dijon Street<br /></span>
                <span>Lotus Gardens <br /></span>
                <span>Pretoria (ZA)<br /></span> 
                <span> 0008</span>
            </div>
        </div>

        <div class="col-md-3 footer-item">
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'phone']"></fa-icon>&nbsp;
                CONTACT DETAILS
            </div>
            <div class="footer-item-list">
                (+27)82 638-4923<br />
                (+258)84 065-7493<br />
                martin@mabundagroup.com<br />
                yaner@mabundagroup.com<br />
            </div>
        </div>

        <!-- WhatsApp floating button -->
        <a href="https://wa.me/27826384923?text=Good day, I have a EHS-related matter and I need your assistance."
            class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>

        
    </div>
  
    
    <div class=" row bg-dark copyright-items-container ">
        <div class="" >
            Mabunda Group &copy; 2023 | All Rights reserved<p> Developed by Yingi 
                <!-- <p><app-star-rating></app-star-rating></p> -->
        </div>
    </div>


</footer>
