
<div @fadeInPageTitle class="">
    <div class="welcome-messsage ">
        <h1>WELCOME</h1>
        <p class="page-title-description">
            WE ARE ENVIRONMENTAL HEALTH AND SAFETY (EHS) CONSULTING COMPANY, OPERATING IN A WIDE RANGE OF BUSINESS SECTORS.
            <!-- Mabunda Group Pty. Ltd does work on Environmental Health and Safety (EHS), Construction Health and Safety (CHS) and Food
            Safety Consultancy work in a wide range of business sectors which would include Construction, Telecommunications, FMCG,
            Retail, etc. -->
        </p>
        
        <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
        <div  class="social-buttons-aligner" >
            <app-share-this-buttons></app-share-this-buttons>
        </div>
        
    </div>
  
</div>
<!--The working version of image gallery-->
    <!-- <app-ngx-lightbox></app-ngx-lightbox>  -->

<!--Page content -->
  

    <div  @fadeInFeaturedImaged class="row featured-items-container">

        <div class="col-md-3 featured-container">
            <div class="home-first-col">
        
                <div class="featured-items-image left-img">
                    <img class="img-fluid" src="../assets/featured/0.jpg">
                </div>
        
                <div class="featured-items-headings heading-left">
                    EHS SERVICES
                </div>
        
                <div class="featured-items-description">
                    We assist our clients to comply with the Environmental Health and Safety legislation.
                </div>
        
                <div class="featured-items-button-container">
                    <a class="featured-items-buttom btn" routerLink="/contact"> More.. </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 featured-container">
            <div  class="home-first-col">

                <div class="featured-items-image center-left-img">                       
                    <img class="img-fluid" src="../assets/featured/1.jpg">
                </div>

                <div class="featured-items-headings heading-left">
                    OHS SERVICES
                </div>
    
                <div class="featured-items-description">
                    We also assist our clients to comply with the Construction Health and Safety legislation.
                </div>
    
                <div class="featured-items-button-container">
                    <a class="featured-items-buttom btn" routerLink="/contact"> More.. </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 featured-container">
            <div class="home-first-col">
                <div class="featured-items-image center-right-img">
                    <img class="img-fluid" src="../assets/featured/2.jpg">
                </div>
                <div class="featured-items-headings">
                    FOOD SAFETY
                </div>
        
                <div class="featured-items-description">
                    We do audits and TrainingS for Food Safety for various sectors, ranging from private to public.
                </div>
        
                <div class="featured-items-button-container">
                    <a class="featured-items-buttom btn" routerLink="/contact"> More.. </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 featured-container">
            <div class="home-first-col">

                <div class="featured-items-image right-img ">
                    <img class="img-fluid" src="../assets/featured/3.jpg">
                </div>

                <div class="featured-items-headings heading-left">
                ENGINEERING
                </div>
        
                <div class="featured-items-description">
                    We also provide engineering services such as electrical, telecommunication and fire.
                </div>
        
                <div class="featured-items-button-container">
                    <a class="featured-items-buttom btn" routerLink="/contact"> More.. </a>
                </div>
            </div>
        </div>
    </div>